# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env

# WhatsApp session data
.wwebjs_auth/
.wwebjs_cache/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Temporary folders
tmp/
temp/
